.signin-btn {
  background: #9c2fea;
  display: flex;
  height: 42px;
  padding: 18px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease;
}
.signin-btn:hover {
  transition: all 0.5s ease;
  background: #8a2acf;
}

body {
  user-select: none !important;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
