@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

/* h1,
h2,
h3,
h4,
h5 {
  font-family: 'Neonderthaw' !important;
} */

#logoMain {
  position: fixed;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
}
